@using CRUD_asp.netMVC.Models.ViewModels.Home;
@using System.Globalization
@model getPaginationByProductViewModel
@{  
    var ActionNameByUrl = ViewBag.ActionNameUrl;
    var productCount = ViewBag.ProductCount ?? 0;
    var cateID = ViewData["cateID"];
    var brandID = ViewData["brandID"];
    var brandImage = ViewData["image"];
    var index = (int)brandID;

    var brandName = Model.Brands[index - 1].Name;
    ViewData["Title"] = "Product Page";
    Layout = "_HomeLayout";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm animate-box" role="banner" style="background-image:url(@Url.Content($"~/{brandImage}")); ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-product">
    <div class="container">
        <div class="row animate-box my-4">
            <div class="col-md-12 text-center">
                <div class="desc">
                    <h1 style="font-weight: 700; text-shadow: 2px 3px 6px; font-size: 6rem">@brandName.ToUpper()</h1>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            @foreach (var item in Model.Categories)
            {
                <div class="col-md-2 text-center animate-box">
                    <div class="product">
                        <div class="desc">
                            <a asp-action="getProductByCate_Brand" asp-controller="Product" asp-route-brandID="@brandID" asp-route-cateID="@item.ID" asp-route-productPage="1">
                                @* duong dan tuyet doi khi truy cap https://localhost:7276/Product -> https://localhost:7276/Product/ *@
                                <img src="@Url.Content($"~/{@item.PicturePath}")" class="img-fluid shadow cate-image"
                                     alt="Categories">
                            </a>
                            <h3><a asp-route-cateID="@item.ID" asp-route-productPage="1" class="btn">@item.Name</a></h3>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="row">
            <p class="text-center p-5 fs-1">@productCount sản phẩm được thấy</p>
            @foreach (var item in Model.Products)
            {
                <div class="col-md-4 text-center animate-box">
                    <div class="product">

                        <div class="product-grid" style="background-image:url(@Url.Content($"~/images/products/{item.PicturePath}"));">
                            <div class="inner">
                                <p>
                                    <a asp-action="ProductDetail" asp-route-id="@item.ID" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">@item.Name</a></h3>
                            <span class="price">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.NewPrice)</span>
                        </div>
                    </div>
                </div>
            }
            <div class="pagination d-flex justify-content-center animate-box">
                <div class="pagination d-flex justify-content-center animate-box">
                    @if (Model.Products.PreviousPage)
                    {
                        <a class="btn btn-outline-warning m-1" asp-action="getProductByBrand" asp-route-brandID="@brandID" asp-route-productPage="@(Model.Products.PageCurrent - 1)">Previous</a>
                    }

                    @for (int i = 1; i <= Model.Products.TotalPage; i++)
                    {
                        <a asp-action="getProductByBrand" asp-route-brandID="@brandID" asp-route-productPage="@i" class="btn btn-outline-warning m-1 @(i == Model.Products.PageCurrent ? " active" : "")">@i</a>
                    }

                    @if (Model.Products.NextPage)
                    {
                        <a class="btn btn-outline-warning m-1" asp-action="getProductByBrand" asp-route-brandID="@brandID" asp-route-productPage="@(Model.Products.PageCurrent + 1)">Next</a>
                    }
                </div>
            </div>

        </div>

        <div class="row animate-box mt-5">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 class="text-center my-2 mb-5"><strong style="font-weight: 700;">THƯƠNG HIỆU NỔI TIẾNG</strong></h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel text-center">
                    @foreach (var item in Model.Brands)
                    {
                        <div class="service-item">
                            <a asp-action="getProductByBrand" asp-route-brandID="@item.ID" asp-route-productPage="1" class="services-item-image" style="display: block;">
                                <img src="@Url.Content($"~/{@item.PicturePath}")" class="img-fluid shadow"
                                     style="width: 100%; max-width: 230px; height: 100px; object-fit: cover; display: block; margin: auto;
                                    filter: contrast(110%) brightness(105%);
                                    border-radius: 15px;
                                    box-shadow: 0 4px 12px rgba(0,0,0,0.2);"
                                     loading="lazy"
                                     alt="@item.Name">
                            </a>
                            <div class="down-content">
                                <p class="my-3"><em>@item.Name</em></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>