<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CRUD_asp.netMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleMe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD_asp.netMVC.styles.css" asp-append-version="true" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css" asp-append-version="true">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/css/flexslider.css" asp-append-version="true">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js" asp-append-version="true"></script>

</head>
<body>
    <div id="page">
        <nav class="fh5co-nav fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-2">
                        <div id="fh5co-logo"><a asp-action="Index" asp-controller="Home">Thanh Tuan.</a></div>
                    </div>
                    <div class="col-md-6 col-xs-6 text-center menu-1">
                        <ul>
                            <li class="has-dropdown nav-item">
                                <a asp-action="Index" asp-controller="Product">Product</a>
                                <ul class="dropdown">
                                    <li class="has-dropdown">
                                        <a href="#">Brand</a>
                                        <ul class="dropdown sub-dropdown">
                                            @foreach (var item in Model.Brands)
                                            {
                                                <li><a asp-controller="Product" asp-route-brandID="@item.ID">@item.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Category</a>
                                        <ul class="dropdown sub-dropdown">
                                            @foreach (var item in Model.Categories)
                                            {
                                                <li><a asp-controller="Product" asp-route-cateID="@item.ID">@item.Name</a></li>
                                            }
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item"><a asp-action="About" asp-controller="Home">About</a></li>
                            <li class="has-dropdown nav-item">
                                <a href="#">Services</a>
                                <ul class="dropdown">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">eCommerce</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">API</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                        <ul>
                            <li class="search nav-item">
                                <div class="input-group">
                                    <input type="text" placeholder="Search..">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                                    </span>
                                </div>
                            </li>
                            <li class="shopping-cart nav-item"><a href="#" class="cart"><span><small>0</small><i class="icon-shopping-cart"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <main role="main" class="">
        @RenderBody()
    </main>


    <footer id="fh5co-footer" role="contentinfo" class="animate-box">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4 fh5co-widget">
                    <h3>Sứ mệnh của chúng tôi.</h3>
                    <p>
                        Mang đến các sản phẩm công nghệ mới nhất với giá cả hợp lý, cùng với dịch vụ hỗ trợ tận tâm, nhằm giúp
                        khách hàng trải nghiệm công nghệ một cách dễ dàng và tiện lợi nhất.
                    </p>

                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="fh5co-footer-links">
                        <li class="nav-item-f"><a asp-action="About" asp-controller="Home">About</a></li>
                        <li class="nav-item-f"><a href="#">Help</a></li>
                        <li class="nav-item-f"><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                        <li class="nav-item-f"><a href="#">Terms</a></li>
                        <li class="nav-item-f"><a href="#">Meetups</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Handbook</a></li>
                        <li><a href="#">Held Desk</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Find Designers</a></li>
                        <li><a href="#">Find Developers</a></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>
            </div>

            <div class="row copyright">

                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2018 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a> &amp; <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table">
                                <div class="fh5co_verticle_middle">
                                    <i class="icon-twitter"></i>
                                </div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table">
                                <div class="fh5co_verticle_middle">
                                    <i class="icon-facebook"></i>
                                </div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a href="https://twitter.com/fh5co"
                               target="_blank"
                               class="fh5co_display_table">
                                <div class="fh5co_verticle_middle">
                                    <i class="icon-linkedin"></i>
                                </div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a href="https://fb.com/fh5co"
                               target="_blank"
                               class="fh5co_display_table">
                                <div class="fh5co_verticle_middle">
                                    <i class="icon-instagram"></i>
                                </div>
                            </a>
                        </div>

                    </p>
                </div>
            </div>

        </div>
    </footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/js.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js" asp-append-version="true"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
    <!-- Carousel -->
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <!-- countTo -->
    <script src="~/js/jquery.countTo.js" asp-append-version="true"></script>
    <!-- Flexslider -->
    <script src="~/js/jquery.flexslider-min.js" asp-append-version="true"></script>
    <!-- Main -->
    <script src="~/js/main.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
