@using CRUD_asp.netMVC.ViewModels.Cart
@using System.Globalization
@model CartViewModel
@{
    var qrCode = Model.QrPayment != null ? Model.QrPayment.QrCodeUrl : "";
    var address = Model.AddressUser.FirstOrDefault(p => p.IsDefault);
}

@if (address != null)
{
    <h5 id="timer" style="font-weight: bold">05:00</h5>
}
else
{
    <h5 id="alertAddress" style="font-weight: bold">Cập nhật địa chỉ !</h5>
}
<div class="qr-wrapper" style="position: relative; display: inline-block;">

    @if (address == null)
    {
        <input type="hidden" value="@Html.Raw(qrCode)" class="qrCodeString" />
        <img id="reCodeQR" src="@Html.Raw(qrCode)" alt="Mã QR code" class="qr-code" />

        <button id="locationQR" style="display: inline">

            <i class="icon-location">
                <img src="@Url.Content($"~/images/icon/placeholder.png")" alt="location" style="height: 50px; width: 50px" />
            </i>
        </button>
    }
    else if (Model.QrPayment != null && !string.IsNullOrEmpty(qrCode))
    {
        <input type="hidden" value="@Html.Raw(qrCode)" class="qrCodeString" />
        <img src="@Html.Raw(qrCode)" alt="Mã QR code" class="qr-code" />

        <button id="resetQR">
            <i class="icon-reset">
                <img src="@Url.Content($"~/images/icon/reset.png")" alt="reset" style="height: 50px; width: 50px" />
            </i>
        </button>

        <div class="qr-expire-time" data-expire-seconds="300"></div>
    }
    else
    {
        <img src="" alt="Lỗi mã QR " class="qr-code" />
    }
</div>
<div class="account-info">
    <p class="account-name">Nguyễn Thành Tuấn </p>
    <p class="account-bankinName"><strong>Ngân hàng:</strong> MB Bank</p>
    <p class="account-bankin"><strong>Tài khoản:</strong> 0001335756540 </p>
    <p class="account-date"><strong>Ngày tạo:</strong> @(DateTime.Now.ToString("dd/MM/yyyy HH:mm"))</p>
</div>

<button class="btn-close" aria-label="Đóng modal">Đóng</button>
