@using CRUD_asp.netMVC.Models.ViewModels.Cart;
@using System.Globalization
@model CartViewModel
@{
    var IsAddress = ViewBag.IsAddress;
    ViewData["Title"] = "Cart Page";
    Layout = "";
}

<link rel="stylesheet" href="~/css/tom-select.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/styleCart.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <div class="col-md-12 text-center mb-4">
                    <h1 style="font-weight: 600; text-shadow: 2px 3px 10px; font-size: 3rem">GIỎ HÀNG</h1>
                </div>
                <div class="table-wrap table-responsive">
                    <table class="table" style="width: 100%">
                        <thead class="thead-primary" style="text-align:center">
                            <tr>
                                <th>Check</th>
                                <th>&nbsp;</th>
                                <th>Sản phẩm</th>
                                <th colspan="1">Loại màu</th>
                                <th>kích thước</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                @* <th>Tổng giá</th> *@
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.CartItems.Count < 0)
                                {
                                    <tr>
                                        <td class="text-center" colspan="6">Hãy thêm sản phẩm của bạn nhé.</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.CartItems)
                                    {

                                        <tr class="alert1" role="alert">
                                            @*    <td name="id" value="@item.ID">@item.ID</td> *@
                                            <td>
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input type="checkbox" class="checkbox" value="@item.ID" />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>

                                            <td>
                                                <div class="img"
                                                     style="background-image: url(@Url.Content($"~/images/products/{item.Product.ProductImages.FirstOrDefault()?.PathNameImage}"))"></div>
                                            </td>

                                            <td>
                                                <div class="email" style="text-align: left">
                                                    <p class="">@item.Product.Name</p>

                                                </div>
                                            </td>

                                            <td>
                                                <div class="color" style="text-align: center">
                                                    <span>@item.SelectColor</span>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="size" style="text-align: center">
                                                    <span>@item.SelectSize</span>
                                                </div>
                                            </td>

                                            <td class="price">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Product.NewPrice)</td>

                                            @* xu li qua ajax (js.js) *@
                                            <td class="quantity">
                                                <div class="quantity-container" data-id="@item.ID">
                                                    <button type="button" class="quantity-btn decrease" data-id="@item.ID" data-opera="-">-</button>
                                                    <input type="text" name="qty" class="quantity-input" value="@item.Quantity" min="1" max="100" readonly>
                                                    <button type="button" class="quantity-btn increase" data-id="@item.ID" data-opera="+">+</button>
                                                </div>
                                            </td>


                                            @* co xai thi mo lai js line 619
                                        <td class="priceTotal">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", TempData["totalPrice"])</td>*@

                                            <td class="deleteCartItem" style="vertical-align:middle; text-align:center">
                                                @* Thieu token nen khi truyen du lieu qua ben ajax se chay xuong error *@
                                                @Html.AntiForgeryToken()
                                                <button type="submit"
                                                        class="close"
                                                        aria-label="Close"
                                                        data-id="@item.ID">
                                                    <span aria-hidden="true">
                                                        <i class="fa fa-close" style="font-size: 3rem;"></i>
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px">
                    <div class="card-body p-4">
                        <h3 class="mb-4 text-center shadow font-weight-bold">Thanh toán</h3>

                        <!-- Payment Methods -->
                        <div class="mb-4">
                            <h5>Phương thức thanh toán</h5>
                            <div class="form-check mb-2">
                                <input class="form-check-input PaymentMethod" type="radio" name="payment" value="qr" data-method="qr" id="qr" />
                                <label class="form-check-label" for="qr">
                                    <i class="fa-lg me-2">
                                        <img src="~/images/icon/qr.png" alt="" style="width: 40px; height: 40px" />
                                    </i>Quét mã QR
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input PaymentMethod" type="radio" name="payment" value="cash" data-method="cash" id="cash" />
                                <label class="form-check-label" for="cash">

                                    <i class=" fa-lg me-2">
                                        <img src="~/images/icon/cod.png" alt="" style="width: 40px; height: 40px" />
                                    </i>Thanh toán khi nhận hàng
                                </label>
                            </div>
                        </div>

                        <!-- Total -->
                        <div class="payment">
                            <div class="d-flex justify-content-between fw-semibold mb-2">
                                <span class="font-weight-bold">Tạm tính: </span>
                                <span class="price-provisional">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", 0)</span>
                            </div>
                            <div class="d-flex justify-content-between fw-semibold mb-2">
                                <span class="font-weight-bold">Phí vận chuyển: </span>
                                <span class="price-ship">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", 0)</span>
                            </div>
                            <div class="d-flex justify-content-between fw-semibold mb-2">
                                <span class="font-weight-bold">Số lượng sản phẩm: </span>
                                <span class="countItem">x 0</span>
                            </div>
                            <hr class="my-4" />
                            @* <div class="d-flex justify-content-between fw-semibold mb-4">
                                <span>Tổng cộng (bao gồm thuế): </span>
                                <span class="price-totalVAT">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", 0)</span>
                            </div> *@

                            <button type="button" class="buy bn54 btn-block btn-lg">
                                <div class="d-flex justify-content-between">
                                    <span class="btnPrice bn54span">Thanh toán:</span>
                                    <span class="price-complete bn54span">0 ₫</span>
                                </div>
                            </button>

                            <div class="modal-overlay" style="display: none">
                                <div class="modal"
                                     role="dialog"
                                     aria-modal="true"
                                     aria-labelledby="modalTitle">

                                    @Html.Partial("_ModalPaymentPartial", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* <script src="~/js/jquery.min.js" asp-append-version="true"></script> *@
@* <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script> *@
 <script src="~/js/tom-select.complete.min.js" asp-append-version="true"></script> @* Rut gon search address modal (province, ward)*@  
<script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
<script>
    window.addressDataUrl = "@Url.Content("~/full_json_generated_data_vn_units.json")";
</script>

<script src="~/js/js.js" asp-append-version="true"></script>

