@using CRUD_asp.netMVC.Models.Product
@using System.Globalization
@model Products

@{
    ViewData["Title"] = "Xóa sản phẩm";
}

<div class="delete-container">
    <div class="delete-header">
        <h1>Xóa sản phẩm</h1>
        <h3>Bạn có muốn xóa sản phẩm này không ?</h3>
    </div>
    <hr />
    <div class="delete-content">
        <div class="delete-image">
            <img src="@Url.Content("~/images/products/" + Model.PicturePath)" alt="Product Image" />
        </div>
        <div class="delete-info">
            <h4>Thông tin sản phẩm</h4>
            <dl>
                <dt>Tên sản phẩm</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>
                <dt>Giá sản phẩm</dt>
                <dd>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.NewPrice)</dd>
                <dt>Ngày tạo</dt>
                <dd>@Html.DisplayFor(model => model.Created)</dd>
                <dt>Thương hiệu</dt>
                <dd>@Html.DisplayFor(model => model.Brands.Name)</dd>
                <dt>Danh mục</dt>
                <dd>@Html.DisplayFor(model => model.Cate.Name)</dd>
            </dl>
        </div>
    </div>
    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="ID" />
        <div class="action-buttons">
            <input type="submit" value="Xóa" /> |
            <a asp-action="ProductList">Quay lại</a>
        </div>
    </form>
</div>