@using CRUD_asp.netMVC.Models.Product
@using System.Globalization
@model Products

@{
    ViewData["Title"] = "DetailProduct";
}

<div class="product-detail-container">
    <h1 class="text-center" style="color: #2c3e50; margin-bottom: 20px;">Sản phẩm chi tiết</h1>
    <hr style="border-color: #ddd;" />
    <div class="product-card">
        <div class="product-image">
            <img src="@Url.Content($"~/images/products/{Model.PicturePath}")" alt=""  />
        </div>
        <div class="product-info">
            <dl>
                <dt>Tên sản phẩm</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>
                <dt>Giá cũ sản phẩm</dt>
                <dd>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.OldPrice)</dd>
                <dt>Giá mới sản phẩm</dt>
                <dd>@string.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.NewPrice)</dd>
                <dt>Ngáy tạo</dt>
                <dd>@Html.DisplayFor(model => model.Created)</dd>
                <dt>Giới tính</dt>
                <dd>@Html.DisplayFor(model => model.Gender.Name)</dd>
                <dt>Thương hiệu</dt>
                <dd>@Html.DisplayFor(model => model.Brands.Name)</dd>
                <dt>Danh mục</dt>
                <dd>@Html.DisplayFor(model => model.Cate.Name)</dd>
                <dt>Số lượng tồn kho</dt>
                <dd>@Html.DisplayFor(model => model.Quantity)</dd>
                <dt>Trọng lượng</dt>
                <dd>@Html.DisplayFor(model => model.Weight)</dd>
                <dt>Màu sắc</dt>
                <dd>@string.Join(", ", Model.ProductColor.Select(p => p.Color.Name))</dd>
                <dt>Kích cỡ</dt>
                <dd>@string.Join(", ", Model.ProductSize.Select(p => p.Size.Name))</dd>
                <dt>Chất liệu</dt>
                <dd>@string.Join(", ", Model.ProductMaterial.Select(p => p.Material.Name))</dd>
                <dt>Nhãn dán</dt>
                <dd>@string.Join(", ", Model.ProductTags.Select(p => p.Tag.Name))</dd>
                <dt>Phong cách</dt>
                <dd>@string.Join(", ", Model.ProductStyles.Select(p => p.Style.Name))</dd>
                <dt>Mùa phù hợp</dt>
                <dd>@string.Join(", ", Model.ProductSeasons.Select(p => p.Season.Name))</dd>
                

            </dl>
        </div>
    </div>
    <div class="action-buttons">
        @* <a asp-action="EditProduct" asp-route-id="@Model.ID">cập nhật</a>  *@
        <a asp-action="ProductList">Qiuay lại</a>
    </div>
</div>