@using CRUD_asp.netMVC.Models.Product;
@using System.Globalization
@model PaginatedList<Products>

@{
    ViewData["Title"] = "Sản phẩm";
}

<style>

    table th, table td {
        text-align: center;
        vertical-align: middle;
    }

    .pagination .btn {
        transition: 0.3s;
        margin-right: 0px;
    }

</style>
@* <h1 style="text-align: center; padding: 20px; text-shadow: 1px 2px 10px rgba(236, 210, 11, 0.6)">Sản phẩm</h1> *@
@* <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <a asp-action="CreateProduct" class="bn54 mb-3"><span class="bn54span"> Tạo mới</span></a>
        </div>
    </div>
</div> *@

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Thương hiệu</th>
            <th>Phân loại</th>
            <th>Thao tác</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.ID">
                        <img src="@Url.Content($"~/images/products/{item.PicturePath}")" alt="" style="width: 150px; height: 100px; object-fit: cover; border-radius:8px; text-decoration: none " class="img-fluid shadow-lg" />

                    </a>
                </td>

                <td>
                    <span class="price">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.NewPrice)</span>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Brands.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cate.Name)
                </td>


                <td class="text-center">
                    <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                        <a asp-action="EditProduct" asp-route-id="@item.ID" class="bn54"><span class="bn54span">Cập nhật</span></a>
                        <a asp-action="DetailProduct" asp-route-id="@item.ID" class="bn54"><span class="bn54span">Chi tiết</span></a>
                        <a asp-action="DeleteProduct" asp-route-id="@item.ID" class="bn54"><span class="bn54span">Xóa</span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination d-flex justify-content-center mb-4">
    @if (Model.PreviousPage)
    {
        <a class="btn btn-outline-warning m-1" asp-action="ProductList" asp-route-page="@(Model.PageCurrent - 1)">Trước</a>
    }

    @for (int i = 1; i <= Model.TotalPage; i++)
    {
        <a asp-action="ProductList" asp-route-page="@i" class="btn btn-outline-warning m-1@(i == Model.PageCurrent ? "active" : string.Empty)">@i</a>
    }

    @if (Model.NextPage)
    {
        <a class="btn btn-outline-warning m-1" asp-action="ProductList" asp-route-page="@(Model.PageCurrent + 1)">Sau</a>
    }
</div>
